@(content: Html)

@import helper._

@import controllers.neutrino._

@if(request.getHeader("X-PJAX") != null) {
    @content
} else {
    @main("Neutrino") {

        <div class="upload-alert alert alert-success" style="display: none;">
        </div>

        <div class="progress upload-progress progress-striped hidden">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
                <span class="progress-percentage"></span>
            </div>
        </div>

        <script src="@controllers.routes.Assets.at("javascripts/ui/jquery-ui.js")"></script>
        <script src="@controllers.routes.Assets.at("javascripts/jquery.iframe-transport.js")"></script>
        <script src="@controllers.routes.Assets.at("javascripts/jquery.fileupload.js")"></script>
        <script src="@controllers.routes.Assets.at("javascripts/jquery.handsontable.full.js")"></script>
        <script src="@controllers.routes.Assets.at("javascripts/jquery.handsontable.removeRow.js")"></script>
        <script src="@controllers.routes.Assets.at("javascripts/select2.js")"></script>
        <script src="@controllers.routes.Assets.at("javascripts/show_file.js")"></script>
        <script src="@controllers.routes.Assets.at("javascripts/my_files.js")"></script>

        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/select2.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/select2-bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/jquery.fileupload.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/jquery.handsontable.full.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/jquery.handsontable.bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/jquery.handsontable.removeRow.css")">

        <script>
        var initUpload = function () {
            console.log("Hey");
            $('#fileupload').fileupload({
                dataType: 'json',
                limitMultiFileUploads: 1,
                singleFileUploads: true,
                fileName: '',
                add: function (e, data) {
                    $('.upload-progress').addClass('hidden');
                    $('.upload-alert').addClass('hidden');
                    $('.upload-add-file').addClass('hidden');
                    $('.upload-data-context').removeClass('hidden');
                    $('.upload-data-context .upload-filename').html(data.files[0].name);
                    var that = this;
                    var button = $('.upload-data-context .upload-action-start' );
                    $('.upload-data-context .upload-action-start' ).click(function () {
                                //$('.upload-data-context' ).addClass('hidden');
                                $('.upload-progress').removeClass('hidden');
                                $('.upload-progress .progress-bar').css('width', '0');
                                button.addClass('hidden');
                                that.fileName = data.originalFiles[0].name;
                                data.submit();
                            });
                },
                done: function (e, data) {
                    var response = data.result;
                    $('.upload-data-context .upload-view-file' ).removeClass('hidden' ).attr('href', response.view_url);
                    $('.upload-progress').addClass('hidden');
                    $('.upload-alert' ).removeClass('hidden').html('@Messages("neutrino.upload.file_uploaded_successfully") ' +response.message + ' <a href="'+response.view_url+'">Display the content</a>').slideDown();
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.upload-progress .progress-bar').css('width',progress + '%').attr('aria-valuenow', progress);
                    $('.upload-progress .progress-bar .progress-percentage' ).html('@Messages("neutrino.upload.uploading") ' + this.fileName +' '+ progress + '% @Messages("neutrino.upload.complete")');
                }
            });
        };
        </script>

        @defining(Application.getLocalUser(session())) { user =>
            <h3>@Messages("neutrino.header.welcome", user.contactName)</h3>
        }
        <div id="pjax-container">
            @content
        </div>

        <script>
        $(document).pjax('a[data-pjax]', '#pjax-container');
        $(document).on('pjax:complete', function() {
            console.log('pjax complete');
            $(document).pjax('a[data-pjax]', '#pjax-container');
        });
        </script>

    }
}