@(files: List[com.neutrino.models.metadata.DataSet], options: List[com.neutrino.models.core_common.Option], jsonOpts: String)
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTime

@admin {
    @_navbar()
        <h4>@Messages("neutrino.mapping.header.page_header")</h4>

        <form method="POST" action="">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Messages("neutrino.mapping.header.dataset")</th>
                    <th>@Messages("neutrino.mapping.header.column")</th>
                    <th>@Messages("neutrino.mapping.header.mapped_type")</th>
                    <th>@Messages("neutrino.mapping.header.attribute")</th>
                    <th>@Messages("neutrino.mapping.header.attribute_type")</th>
                    <th>@Messages("neutrino.mapping.header.confidence")</th>
                </tr>
            </thead>
            <tbody>
            @for((dataSet, idx) <- files.sortBy(_.creationTimestamp).reverse.zipWithIndex) {
              @for(mapping <- dataSet.getMappings()) {
                <tr class="@{if (mapping.confidenceFlag) {
                        "success"
                        } else if (mapping.maybeFlag) {
                        "warning"
                        } else {
                        "danger"
                        }
                      }">
                    <td>
                       @{dataSet.getFile().getOriginalFileName()}
                    </td>
                    <td>
                        @{mapping.getDataColumn().getName()}
                    </td>
                    <td>
                        @{mapping.coreTableName}/@{mapping.coreAttributeName}
                    </td>
                    <td>
                        <select name="mapping_@{mapping.id}" id="mapping_@{mapping.id}" class="form-control main-select" data-selected-type="@{mapping.coreAttributeType}" data-mapping-id="@{mapping.id}" >
                        @for(option <- options.sortBy(row => (row.getTableName(), row.getColumnName()))) {
                            @defining(
                                if (option.matches(mapping)) {
                                    "selected='true'"
                                } else {
                                    ""
                                }
                            ) { selected =>
                                <option @Html(selected) data-core-table="@{option.getTableName}" data-core-attribute="@{option.getColumnName}" value="@{option.getTableName}|@{option.getColumnName}">@{option.getTableName} / @{option.getColumnName}</option>
                            }
                        }
                        </select>
                    </td>
                    <td>
                        <select name="type_@{mapping.id}" id="type_@{mapping.id}" class="form-control type-select hidden" data-mapping-id="@{mapping.id}" >
                        </select>
                    </td>
                    <td>
                        @{mapping.getConfidence}
                    </td>
                </tr>
                }
            }
            </tbody>
        </table>
        <button type="button" class="btn btn-success save-changes">@Messages("neutrino.mapping.action.submit")</button>
        </form>
    <script>
        var jsonOpts=@Html(jsonOpts);
        var m = new Mapping(jsonOpts);
        m.updateUrl = '@controllers.neutrino.secured.routes.ManualMapping.update';
    </script>

</script>

}