@(files: List[com.neutrino.models.metadata.DataSet], options: List[com.neutrino.models.core_common.Option])
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTime

@admin {
    @_navbar()
        <h4>@Messages("neutrino.mapping.header.page_header")</h4>

        <form method="POST" action="">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Messages("neutrino.mapping.header.dataset")</th>
                    <th>@Messages("neutrino.mapping.header.column")</th>
                    <th>@Messages("neutrino.mapping.header.mapped_type")</th>
                    <th>@Messages("neutrino.mapping.header.confidence")</th>
                </tr>
            </thead>
            <tbody>
            @for((dataSet, idx) <- files.sortBy(_.creationTimestamp).reverse.zipWithIndex) {
              @for(mapping <- dataSet.getMappings()) {
                <tr>
                    <td>
                       @{dataSet.getFile().getOriginalFileName()}
                    </td>
                    <td>
                        @{mapping.getDataColumn().getName()}
                    </td>
                    <td>
                        @{mapping.coreTableName}/@{mapping.coreAttributeName}
                        <select name="mapping[@{mapping.id}]">
                            @for(option <- options.sortBy(row => (row.getTableName(), row.getColumnName()))) {
                                 @if(option.getTypes.isEmpty) {
                                        @defining(
                                           if (option.matches(mapping, null)) {
                                                "selected='true'"
                                            } else {
                                                ""
                                            }
                                        ) { selected =>
                                          <option @Html(selected) data-mapping-id="@{mapping.id}" data-mapping-core-table="@{mapping.coreTableName}" data-mapping-core-type="" value="@{option.getTableName}/@{option.getColumnName}">@{option.getTableName}/@{option.getColumnName}</option>
                                        }
                                } else {
                                    @for(t <- option.getTypes.sorted) {
                                        @defining(
                                            if (option.matches(mapping, t)) {
                                                "selected='true'"
                                            } else {
                                                ""
                                            }
                                        ) { selected =>
                                            <option @Html(selected) data-mapping-id="@{mapping.id}" value="@{option.getTableName}/@{option.getColumnName}/@{t}">@{option.getTableName}/@{option.getColumnName}/@{t}</option>
                                        }
                                    }
                                }
                            }
                        </select>
                    </td>
                    <td>
                        @{mapping.getConfidence}
                    </td>
                </tr>
                }
            }
            </tbody>
        </table>
        </form>
    <script>
    $(initUpload);
    new MyFiles();
    </script>

</script>

}