<ul class="nav nav-tabs">
    <li @if(request.path.contains("/upload")) {class="active"} ><a data-pjax href="@controllers.clustrino.routes.BasicFlow.upload()">Upload CSV</a></li>
    <li @if(request.path.contains("/show")) {class="active"} ><a data-pjax href="@controllers.clustrino.routes.BasicFlow.showFile()">View File</a></li>
    <li class="disabled"><a href="#">Profile</a></li>
    <li @if(request.path.contains("/test_action")) {class="active"} ><a data-pjax href="@controllers.clustrino.routes.BasicFlow.testAction()">Test background uploading</a></li>
</ul>
<script>
$(document).pjax('a[data-pjax]', '#pjax-container');
</script>
