@import helper._

@import controllers.clustrino._
@main("Clustrino") {

    <h3>Hello from controller</h3>

    @form(controllers.clustrino.routes.BasicFlow.loginPost()) {

        <label for="userName">Login</label>
        <input type="text" id="userName" name="userName" value="">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="">
        <button type="submit" class="btn btn-default btn-sm" value="Login">
            <span class="glyphicon glyphicon-star"></span> Login
        </button>

    }

}
