@(files: List[models.clustrino.CsvFile])
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTime

@admin {
    @_navbar()
        <h4>@Messages("clustrino.my_files.header.page_header")</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Messages("clustrino.my_files.header.name")</th>
                    <th>@Messages("clustrino.my_files.header.uploaded_at")</th>
                    <th>@Messages("clustrino.my_files.header.action")</th>
                </tr>
            </thead>
            <tbody>
            @for((file, idx) <- files.sortBy(_.uploadedAt).reverse.zipWithIndex) {
                <tr>
                    <td>
                       @{idx + 1}
                    </td>
                    <td>
                        @file.fileName
                    </td>
                    <td>
                        @{new DateTime(file.uploadedAt).toString(DateTimeFormat.mediumDateTime())}
                    </td>
                    <td>
                        <a data-pjax href="@controllers.clustrino.secured.routes.UploadedFile.showFile(file.id)">@Messages("clustrino.my_files.action.view")</a>

                    </td>
                </tr>
            }

            </tbody>
        </table>

}