@(files: List[models.clustrino.CsvFile])
@import org.joda.time.format.DateTimeFormat
@import org.joda.time.DateTime

@admin {
    @_navbar()
        <h4>@Messages("clustrino.my_files.header.page_header")</h4>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>@Messages("clustrino.my_files.header.name")</th>
                    <th>@Messages("clustrino.my_files.header.uploaded_at")</th>
                    <th>@Messages("clustrino.my_files.header.action")</th>
                </tr>
            </thead>
            <tbody>
                <tr class="warning upload-add-file">
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                        <span class="btn btn-success fileinput-button">

                            <span class="glyphicon glyphicon-plus"></span>
                            <span>@Messages("clustrino.upload.add_files")</span>
                            <input id="fileupload" type="file" name="files[]" data-url="@controllers.clustrino.secured.routes.UploadedFile.uploadFile()">
                        </span>
                    </td>
                </tr>

                <tr class="warning upload-data-context hidden">
                    <td>
                    </td>
                    <td>
                        <strong class="upload-filename"></strong>
                    </td>
                    <td>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary upload-action-start"><span class="glyphicon glyphicon-upload"></span> Upload</button>
                    </td>
                </tr>
            @for((file, idx) <- files.sortBy(_.uploadedAt).reverse.zipWithIndex) {
                <tr>
                    <td>
                       @{idx + 1}
                    </td>
                    <td>
                        @file.fileName
                    </td>
                    <td>
                        @{new DateTime(file.uploadedAt).toString(DateTimeFormat.mediumDateTime())}
                    </td>
                    <td>
                        <a data-pjax type="button" class="btn btn-default" href="@controllers.clustrino.secured.routes.UploadedFile.showFile(file.id)">@Messages("clustrino.my_files.action.view")</a>

                    </td>
                </tr>
            }

            </tbody>
        </table>
    <script>
    $(initUpload);
    </script>

}