@(fileName:String, jsonHeaders:String, jsonVal: String, jsonPopulation:String, colNames:String, model:com.clustrino.profiling.metadata.DataSet)

@admin {

    @_navbar()

        <div class="panel panel-default">
            <div class="panel-heading"><span>@fileName</span> <span class="save-update"></span></div>
            <div id="myGrid" style="width:100%;height:500px;"></div>
        </div>
        <style type="text/css">
        .handsontable .currentRow {
        background-color: #E7E8EF;
        }

        .handsontable .currentCol {
        background-color: #F9F9FB;
        }
        </style>
        <script>
        var myData=@Html(jsonVal);
        var myHeaders=@Html(jsonHeaders);
        var myPopulation=@Html(jsonPopulation);
        var myNames=@Html(colNames);
        var modelId=@model.id;
        new ShowFile(myData, myHeaders, myPopulation, myNames, modelId);
        </script>
}