@admin {
    @_navbar()
    <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>@Messages("clustrino.upload.add_files")</span>
        <input id="fileupload" type="file" name="files[]" data-url="@controllers.clustrino.secured.routes.UploadedFile.uploadFile()" multiple="" />
    </span>

    <div class="upload-data-context hidden">
        <button type="button" class="btn btn-default upload-action-start"><span class="glyphicon glyphicon-upload"></span> Upload</button>
        <span>@Messages("clustrino.upload.chosen_file"): </span><span class="upload-filename"></span>
    </div>

    <script>
    $(initUpload);
    </script>
}
