@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list") {

    <h3>Number of tasks <span class="label label-default">@tasks.size()</span></h3>

    <ul class="list-group">
        @for(task <- tasks) {
        <li class="list-group-item">
            @form(routes.Application.deleteTask(task.id)) {
            <span>@task.name</span>
            <button type="submit" class="btn btn-danger btn-small" value="Delete">Delete</button>
            }
        </li>
        }
    </ul>
    <hr/>
    <h3>Add a new task</h3>

    @form(routes.Application.newTask()) {

        <label for="name">name</label>
        <input type="text" id="name" name="name" value="">
        <button type="submit" class="btn btn-default btn-small" value="Create">Create</button>

    }

}