@(loginForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.login.title"),"login") {
        <div class="alert alert-warning">
            @flash().get("message")
        </div>
        <h1>@Messages("playauthenticate.login.title")</h1>
        <div id="login">

        @helper.form(routes.Application.doLogin) {

            @if(loginForm.hasGlobalErrors) {
                <p class="error">
                    <span class="label label-important">@loginForm.globalError.message</span>
                </p>
            }

            @_emailPartial(loginForm)

            @inputPassword(
                loginForm("password"),
                '_showConstraints -> false,
                '_label -> Messages("playauthenticate.login.password.placeholder")
            )

            <button class="btn btn-primary" type="submit">@Messages("playauthenticate.login.now") <span class="glyphicon glyphicon-log-in"></span> </button>

            <br/>
            <br/>

            <a href="@controllers.routes.Signup.forgotPassword("")">@Messages("playauthenticate.login.forgot.password")</a>

        }
        </div>

}