@(signupForm: Form[_])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.signup.title"),"signup") {
    
  <div class="row">
    <div class="span6">
      <h1>@Messages("playauthenticate.signup.title")</h1>
    </div>
  </div>

  <div id="signup" class="row">

    <div class="span3">
        @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup) {
    	
            @if(signupForm.hasGlobalErrors) { 
                <p class="error">
		            <span class="label label-important">@signupForm.globalError.message</span>
		        </p>
            }

            @inputText(
                signupForm("companyName"),
                '_label -> Messages("playauthenticate.signup.companyName")
            )

            @inputText(
                signupForm("contactName"),
                '_label -> Messages("playauthenticate.signup.contactName")
            )

            @_emailPartial(signupForm)

            @_passwordPartial(signupForm)

            @inputText(
                signupForm("contactPhone"),
                '_label -> Messages("playauthenticate.signup.contactPhone")
            )

            @inputText(
                signupForm("addressLine1"),
                '_label -> Messages("playauthenticate.signup.addressLine1")
            )

            @inputText(
                signupForm("addressLine2"),
                '_label -> Messages("playauthenticate.signup.addressLine2")
            )

            @inputText(
                signupForm("addressLine3"),
                '_label -> Messages("playauthenticate.signup.addressLine3")
            )

            @inputText(
                signupForm("suburb"),
                '_label -> Messages("playauthenticate.signup.suburb")
            )

            @inputText(
                signupForm("state"),
                '_label -> Messages("playauthenticate.signup.state")
            )

            @inputText(
                signupForm("postcode"),
                '_label -> Messages("playauthenticate.signup.postcode")
            )


            <input type="submit" value="@Messages("playauthenticate.signup.now")" class="btn btn-primary">
    	}
    </div>
  </div>

}